{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'fullcalendar/locales/pt-br.js' %}"></script>
</head>
<body>

{% if perms.duplas.can_add_dupla %}
<form method="get">
    <label for="new-duo">
        <input type="checkbox" name="novas_duplas" id="new-duo">
    </label>
    <input type="submit" value="Gerar Novas Duplas">
</form>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div id='loading'>loading...</div>

<div id='calendar'></div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },

            height: 500,
            width: 500,

            locale: 'pt-br',

            events: [
                {% for dupla in duplas_list %}
                    {
                        "title": "{{ dupla.integrante_1.get_full_name }}",
                        "start": "{{ dupla.date|date:'Y-m-d' }}",
                    },
                    {
                        "title": "{{ dupla.integrante_2.get_full_name }}",
                        "start": "{{ dupla.date|date:'Y-m-d' }}",
                        "align": "center",
                    },
                {% endfor %}
            ],

            displayEventTime: false, // don't show the time column in list view

            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            }

        });

        calendar.render();
    });
</script>
</body>
</html>
