{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'fullcalendar-5.4.0/lib/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'fullcalendar-5.4.0/lib/main.js' %}"></script>
    <script src="{% static 'fullcalendar-5.4.0/lib/locales/pt-br.js' %}"></script>
</head>
<body>

{% if perms.duplas.can_add_dupla %}
<form method="get">
    <label for="new-duo">
        <input type="checkbox" name="novas_duplas" id="new-duo">
    </label>
    <input type="submit" value="Gerar Novas Duplas">
</form>
{% endif %}

<div id='loading'>loading...</div>

<div id='calendar'></div>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },

            height: 500,
            width: 500,

            locale: 'pt-br',

            events: [
                {% for dupla in duplas_list %}
                    {
                        'title': '{{ dupla }}',
                        'start': '{{ dupla.data.year }}-{{ dupla.data.month }}-{{ dupla.data.day }}',
                        'end': '{{ dupla.data.year }}-{{ dupla.data.month }}-{{ dupla.data.day }}',
                        // 'classNames': ['grande'],
                    },
                {% endfor %}
            ],

            displayEventTime: false, // don't show the time column in list view

            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            }

        });

        calendar.render();
    });
</script>
</body>
</html>
